body{
    width: 1250px;
    margin: 0 auto;
}
/*Section main*/
section#main header img{
    width: 91px;
    height: 42px;
    position: relative;
    top: 0px;
}

section#main header span{
    color: #3E3F43;
    font-family: Nunito;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    left: 0px;
    top: -5px;
}

section#main header hr{
    border: 0px;
    width: 200px;
    height: 1px;
    position: relative;
    top: -36px;
    left: -53px;
    background: linear-gradient(to right ,#3E3F43, #2222221A);
    border-radius: 1px;
}

section#main header h2{
    color: #2222221A;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
    position: relative;
    bottom: 144px;
    left: 691px;
    width: 559px;
}

section#main article{
    font-family: Nunito;
}

section#main article span{
    color: #3E3F43;
    font-size: 36px;
    position: relative;
    top: -100px;
}

section#main article p{
    color: #000000;
    font-size: 18px;
    position: relative;
    top: -75px;
}
