body{
    width: 1250px;
    margin: 0 auto;
}

/*Section Main*/
section#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main div span{
    color: #222222;
    font-family: Nunito;
    font-size: 36px;
}

section#main div h1{
    color: #313235;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
}

section#main div a{
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #DAA520;
    line-height: 50px;
}
/*Section Why-Us*/
section#why-us header img{
    width: 91px;
    height: 42px;
    position: relative;
    top: 100px;
}

section#why-us header span{
    color: #3E3F43;
    font-family: Nunito;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    left: 0px;
    top: 95px;
}

section#why-us header hr{
    border: 0px;
    width: 250px;
    height: 1px;
    position: relative;
    top: 64px;
    left: -110px;
    background: linear-gradient(to right ,#3E3F43, #2222221A);
    border-radius: 1px;
}

section#why-us header h2{
    color: #2222221A;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
    position: relative;
    bottom: 44px;
    left: 655px;
    width: 596px;
}

section#why-us article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 35px;
    color: #000000;
    font-family: Nunito;
    position: relative;
    top: -50px;
}

section#why-us article img{
    border-radius: 50px;
    box-shadow: 0 0 5px #ccc;
}

section#why-us article div span{
    color: #3E3F43;
    font-size: 36px;
}
/*Section FAQ*/
section#FAQ{
    font-family: Nunito;
}
section#FAQ header img{
    width: 91px;
    height: 42px;
    position: relative;
    top: 100px;
}

section#FAQ header span{
    color: #3E3F43;
    font-family: Nunito;
    font-weight: bold;
    font-size: 36px;
    position: relative;
    left: 0px;
    top: 95px;
}

section#FAQ header hr{
    border: 0px;
    width: 650px;
    height: 1px;
    position: relative;
    top: 64px;
    left: 133px;
    background: linear-gradient(to right ,#3E3F43, #2222221A);
    border-radius: 1px;
}

section#FAQ header h2{
    color: #2222221A;
    font-weight: bold;
    font-size: 72px;
    position: relative;
    bottom: 44px;
    left: 1100px;
    width: 150px;
}

section#FAQ article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 35px; 
    position: relative; 
    top: -50px;
}

section#FAQ article div h4{
    font-size: 16px;
    margin: 0;
}
section#FAQ article div p{
    font-size: 14px;
    margin-top: 0;
}

section#FAQ article div #sp{
    font-size: 10px;
    margin-top: 0;
    line-height: inherit;
}